    @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
    html {
      font-family: "Quicksand", sans-serif;
      -webkit-font-smoothing: antialiased;
      display:flex;
      padding: 0;
      align-items:center;
      justify-content: center;
      height: 110vh;
      background-image: url("https://cdn.pixabay.com/photo/2017/08/22/00/27/car-dashboard-2667434_1280.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position:center;
    }

    body {
      align-items: center;
      justify-content: center;
      height: 70vh;
    }

    h3 {
      font-size: 3.3rem;
      text-align: center;
      margin: 0;
      padding: 20px 0;
      color: #ba7cee;
    }
    h2 {
      font-size: 1.4rem;
      text-align: left;
      margin: 0;
      padding: 20px 0;
      color: #fcfcfc;
    }
    .wrap {
      font-family: "Quicksand", sans-serif;
      width: 550px;
      padding: 0.5rem 2rem 0.5rem 2rem;
      text-align: center;
      background: rgba(255, 255, 255, 0.11);
      border-radius: 50px;
      border: 3px solid hsl(276, 54%, 58%);
      backdrop-filter: blur(16px);
    }
    p 
    {
      width: 570px;
      padding: 20px;
      text-align: center;
      font-family: "Quicksand", sans-serif;
      font-size: 3rem;
      padding: 20px;
      color: hsl(0, 0%, 100%);
      background: rgba(255, 255, 255, 0.11);
      border-radius: 50px;
      border: 3px solid hsl(276, 54%, 58%);
      backdrop-filter: blur(16px);
    }